# Portable safety stub for image-based installations.
# Anaconda replaces this with an UUID-specific version when possible.
if search --no-floppy --file --set=dev /grub2/grub.cfg; then
    set prefix=($dev)/grub2
elif search --no-floppy --file --set=dev /boot/grub2/grub.cfg; then
    set prefix=($dev)/boot/grub2
fi
export $prefix
configfile $prefix/grub.cfg
