[Unit]
Description=BlazeOS Post-Installation Setup
After=NetworkManager.service network-online.target
ConditionKernelCommandLine=!rd.live.image
ConditionPathExists=!/run/initramfs/live
ConditionPathExists=/usr/local/bin/blazeos-postinstall

[Service]
Type=oneshot
ExecStart=/usr/local/bin/blazeos-postinstall
RemainAfterExit=yes
TimeoutStartSec=20min

[Install]
WantedBy=multi-user.target
